.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}

.button:hover {
  background-color: #540d83;
  border-color: #540d83;
}

.light {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.light:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.disabled,
.disabled:hover {
  background-color: #7d7d7d;
  border: none;
  cursor: not-allowed;
}
